extends layout

block content
  h1 Welcome to Scotland 2.0
  p.lead 
    | What you do with it is up to you.

  hr
  section
    .row
      for category in categories
        .col-sm-6
          h2 #{category.name}
          p #{category.description}
          a.btn.btn-default(href='/room/#{category._id}', role='button') View details »

