extends layout

block content
  h1 Forum Categories
  p.lead You can browse categories for topics of interest or start a new topic in an appropriate
  hr
  section
    .row
      for category in categories
        .col-sm-6
          h2 #{category.name}
          p #{category.description}
          a.btn.btn-default(href='/room/#{category._id}', role='button') View details »

