extends layout

block content
  h1 Welcome to Scotland 2.0
  p.lead 
    | Cool, so it's refendum day. It's kinda cute you all going to the polls and all, ticking your name in a little box, making 
    | your voices heard. But there is a long way to go from here. At the end of the day, it's still Westminsters form your signing
    | your name to. It's still Westminster's committee that will be appointed to ensure the 'transistion', it's Westminsters committee
    | that will be appointed to 'decide' what happens with your countries economy, military and social justice. 
  p 
    | It's nice to see so many people getting polically involved. 4 million people have registered to vote. Half of them say yes, half 
    | them say no. The other million have decided for whatever reason that they don't wish to participate in Westminster's theatre display. 
  p 
    | It's a unique time in history. By tonight Scotland will have made an overwhelming vote of no confidence in Westminste's ability
    | and right to make any decisions at all regarding your country. This forum, is just another tiny voice of decent in a huge crowd
    | of activism and policatal involvment. What you do with it is up to you.
  hr
  section
    .row
      for category in categories
        .col-sm-6
          h2 #{category.name}
          p #{category.description}
          a.btn.btn-default(href='/room/#{category._id}', role='button') View details »

